


body {
    background: grey;
    display:flex;
    flex-direction: column;
    align-items: center;  
    vertical-align: middle;  

}

.etape1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

input {
    margin: 30px;
    border-radius: 5px;
    background-color: rgb(207, 207, 205);
}

button {
    font-weight: bolder;
    background-color: rgb(61, 61, 61);
    border-color: 10px rgb(128, 125, 125);
    color:white;
    border-radius: 5pt;
    padding: 3pt;
    padding-left: 7pt;
    padding-right: 5pt;
    
}

#changerTexte {
    font-size: 24px;
    font-weight: bolder;
}

#changerTexte2 {
    font-size: 24px;
     
}

#message {
    
    color: rgb(243, 184, 23);
}

#cookies {
    display:flex;
    height: 40px;
    width: 100%;
    align-items: center;    
    background: rgb(243, 184, 23);
    bottom: 0pt;
    position: absolute;
    justify-content: center;
}

#message3 {
    font-size: 8pt;      
}

#acceptbutton, #personalbutton {
    background-color: rgb(221, 216, 216);
    border-radius: 5px;
    padding: 4px;
    margin-left: 20px;
    color:black;
    font-size: 8pt;
    border-color:  rgb(243, 184, 23);
   
}

#popin {
    width: 100%;   
    height: 100%; 
    display: none; 
    align-items: center;   
    background-color: black;
    position: absolute;
    justify-content: center;
  
}

h3 {
    color: red;
}

#popin2 {
    width:4%;
    height:37%;
    margin-left: 227pt;
    color:black;       
    background-color: white;
    border-color: white;           
    
}

#entete {
    display: flex;
    align-items: center;     
    width: 100%;
    justify-content:center;
    
}

.accept, .refus {
    background-color: rgb(114, 111, 111);
    color:black;
    margin-left: 20pt;
    margin-right: 20pt;
    padding: 8pt;
    border-radius: 5pt;
    border: solid 0px rgb(114, 111, 111);
}

.donneesPerso {
    background-color: rgb(221, 216, 216);
    color:black;
    display: flex;
    justify-content: end;
    margin: 2pt;
    height: 80px;
    align-items: center;
    width: 95%;
}

#traitement {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height:350px;
    border-radius: 5pt;
    background-color: white;    
    
}